<h1>New Reviewer</h1>
 captcha_message = "The data you entered for the CAPTCHA wasn't correct.  Please try again"
 verify_recaptcha(model: @reviewer, message: captcha_message)
<%= render 'form', reviewer: @reviewer %>
<%= link_to 'Back', login_path %>
<div> <%= raw recaptcha_tags %></div>