

<div class="book">
  <%= content_tag :span, "#{@book.name} (#{@book.author})",
                                            class: "book-title" %>
</div>

<div id="notes">
  <%= render @book.notes %>
</div>


<%= link_to 'Back', allbooks_path %>