/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
  th{
    border: 1px solid gray;
    background-color: rgb(121,12,210);
    color: white;
    font-weight: bold;
    }
 
   td{
      border: 1px solid gray;
      padding: 3px;
    }

  table{
    border-collapse: collapse;
  }

  a{
    text-decoration: none;
    border: 1px solid gray;
    color: black;
    background-color: #E3E1B8;
    padding-left: 3px;
    padding-right: 3px;
  }

  a:hover{
    background-color: rgb(0,255,195);
    border: 1px solid blue;
  }

  td a{
    border:none;
  }

  td a:hover{
    border:none;
  }
  
  .book-title { font: bold 15px arial, sans-serif; }
  .note-title { font: bold 12px arial, sans-serif; }
  .book { padding-bottom: 10px; }
  .note {
    background: lightgray;
    margin: 15px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
    width: 300px;
  }
  .clase{
    border: 1px solid gray;
    background-color: rgb(121,12,210);
    color: white;
    font-weight: bold;
  }
  
  #notice { color: white; background-color: green; }
  #alert { color: white; background-color: red; }
  .field {
    margin: 5px;
  }
  .actions {
    margin: 10px 0px;
  }